.message {
    border: 1px solid;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}

    ::deep .icon.logo {
        width: 2rem;
        height: 2rem;
        margin-top: -0.25rem;
    }

    .message .close-button {
        float: right;
        margin: -0.5rem 0 0 0;
    }

    .message .icon {
        font-size: 1rem;
        padding-right: 0;
        vertical-align: middle;
    }

    .message .text {
        color: var(--color);
        font-size: 1.25rem;
        vertical-align: middle;
    }

    .message.error {
        border-color: red;
        color: red;
    }

    .message.info {
        border-color: blue;
        color: blue;
    }

    .message.success {
        border-color: green;
        color: green;
    }

    .message.warning {
        border-color: yellow;
        color: yellow;
    }
