%fieldset
  %legend= "Rental ##{n+1}"
  %label
    Physical Address 
    %input{ name: "rental[][physical_address]", type: "text", value: rental.physical_address }
  %label
    Property Type 
    %select{ name: "rental[][property_type]" }
      %option{ value: "1", selected: rental.property_type == "1"} Single Family
      %option{ value: "2", selected: rental.property_type == "2"} Multi Family
      %option{ value: "3", selected: rental.property_type == "3"} Vacation
      %option{ value: "4", selected: rental.property_type == "4"} Commercial
      %option{ value: "5", selected: rental.property_type == "5"} Land
      %option{ value: "6", selected: rental.property_type == "6"} Royalties
      %option{ value: "7", selected: rental.property_type == "7"} Self Rental
      %option{ value: "8", selected: rental.property_type == "8"} Other (Describe)
  %label
    Fair Rental Days 
    %input{ name: "rental[][fair_rental_days]", type: "number", min: 0, value: rental.fair_rental_days }
  %label
    Personal Days
    %input{ name: "rental[][personal_days]", type: "number", min: 0, value: rental.personal_days }
  %label
    QJV?
    %input{ name: "rental[][qualified_joint_venture]", type: "checkbox", checked: rental.qualified_joint_venture }
  %label
    Rents Received
    %input{ name: "rental[][rents_received]", type: "number", step: 0.01, min: 0, value: rental.rents_received }
  %label
    Royalties Received
    %input{ name: "rental[][royalties_received]", type: "number", step: 0.01, min: 0, value: rental.royalties_received }
  %label
    Advertising
    %input{ name: "rental[][advertising]", type: "number", step: 0.01, min: 0, value: rental.advertising }
  %label
    Auto
    %input{ name: "rental[][auto]", type: "number", step: 0.01, min: 0, value: rental.auto }
  %label
    Cleaning
    %input{ name: "rental[][cleaning]", type: "number", step: 0.01, min: 0, value: rental.cleaning }
  %label
    Commissions
    %input{ name: "rental[][commissions]", type: "number", step: 0.01, min: 0, value: rental.commissions }
  %label
    Insurance
    %input{ name: "rental[][insurance]", type: "number", step: 0.01, min: 0, value: rental.insurance }
  %label
    Legal Fees
    %input{ name: "rental[][legal_fees]", type: "number", step: 0.01, min: 0, value: rental.legal_fees }
  %label
    Management Fees
    %input{ name: "rental[][management_fees]", type: "number", step: 0.01, min: 0, value: rental.management_fees }
  %label
    Mortgage Interest
    %input{ name: "rental[][mortgage_interest]", type: "number", step: 0.01, min: 0, value: rental.mortgage_interest }
  %label
    Other Interest
    %input{ name: "rental[][other_interest]", type: "number", step: 0.01, min: 0, value: rental.other_interest }
  %label
    Repairs
    %input{ name: "rental[][repairs]", type: "number", step: 0.01, min: 0, value: rental.repairs }
  %label
    Supplies
    %input{ name: "rental[][supplies]", type: "number", step: 0.01, min: 0, value: rental.supplies }
  %label
    Taxes
    %input{ name: "rental[][taxes]", type: "number", step: 0.01, min: 0, value: rental.taxes }
  %label
    Utilities
    %input{ name: "rental[][utilities]", type: "number", step: 0.01, min: 0, value: rental.utilities }
  %label
    Depreciation
    %input{ name: "rental[][depreciation]", type: "number", step: 0.01, min: 0, value: rental.depreciation }
  %label
    Other (Description)
    %input{ name: "rental[][other_desc]", type: "text", value: rental.other_desc }
  %label
    Other (Amount)
    %input{ name: "rental[][other_amount]", type: "number", step: 0.01, min: 0, value: rental.other_amount }
  %button.btn.danger{ formaction: "/tax/data/income?rm_rental=#{n}" }
    %span.icon.icon-trash
    %span.text Remove Rental
