<!DOCTYPE html>
<html>
  <head>
    <title>PiggyBank</title>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
    <link href='/favicon.ico' rel='shortcut icon'>
    <link href='/favicon.ico' rel='icon' sizes='16x16 32x32 64x64'>
    <link href='/favicon-192.png' rel='icon' sizes='196x196' type='image/png'>
    <link href='/favicon-160.png' rel='icon' sizes='160x160' type='image/png'>
    <link href='/favicon-96.png' rel='icon' sizes='96x96' type='image/png'>
    <link href='/favicon-64.png' rel='icon' sizes='64x64' type='image/png'>
    <link href='/favicon-32.png' rel='icon' sizes='32x32' type='image/png'>
    <link href='/favicon-16.png' rel='icon' sizes='16x16' type='image/png'>
    <link href='/favicon-57.png' rel='apple-touch-icon'>
    <link href='/favicon-114.png' rel='apple-touch-icon' sizes='114x114'>
    <link href='/favicon-72.png' rel='apple-touch-icon' sizes='72x72'>
    <link href='/favicon-144.png' rel='apple-touch-icon' sizes='144x144'>
    <link href='/favicon-60.png' rel='apple-touch-icon' sizes='60x60'>
    <link href='/favicon-120.png' rel='apple-touch-icon' sizes='120x120'>
    <link href='/favicon-76.png' rel='apple-touch-icon' sizes='76x76'>
    <link href='/favicon-152.png' rel='apple-touch-icon' sizes='152x152'>
    <link href='/favicon-180.png' rel='apple-touch-icon' sizes='180x180'>
    <meta content='#FFFFFF' name='msapplication-TileColor'>
    <meta content='/favicon-144.png' name='msapplication-TileImage'>
    <meta content='/browserconfig.xml' name='msapplication-config'>
    <link href='/css/icomoon.css' rel='stylesheet' type='text/css'>
    <link href='/css/main.css' rel='stylesheet' type='text/css'>
    <script src='/js/imagecapture.min.js' type='text/javascript'></script>
  </head>
  <body>
    <header>
      <nav aria_label='Main Navigation' role='navigation'>
        <section>
          <a href='/' title='Home'>
            <span class='icon icon-pig'></span>
            <span class='sr-only'>Home</span>
          </a>
        </section>
        <section>
          <span class='label'>Accounts</span>
          <div class='menu'>
            <a href='/accounts'>Accounts</a>
            <a href='/commodities'>Commodities</a>
            <a href='/prices'>Prices</a>
          </div>
        </section>
        <section>
          <span class='label'>Transactions</span>
          <div class='menu'>
            <a href='/import'>Import Data</a>
            <a href='/txs'>Transactions</a>
            <a href='/receipts'>Receipts</a>
          </div>
        </section>
        <section>
          <span class='label'>Reports</span>
          <div class='menu'>
            <a href='/report'>Reports</a>
            <a href='/report/balance'>Balance Sheet</a>
            <a href='/report/income'>Income Statement</a>
            <a href='/report/cash'>Cash Flow</a>
          </div>
        </section>
        <section>
          <span class='label'>Planning</span>
          <div class='menu'>
            <a href='/budget'>Budget Planning</a>
            <a href='/tool/mortgage'>Mortgage Tools</a>
          </div>
        </section>
        <section>
          <span class='label'>
            <span class='sr-only'>Settings</span>
            <span class='icon icon-gear'></span>
          </span>
          <div class='menu'>
            <a href='/settings'>General Settings</a>
            <a href='/ofxs'>OFX Configuration</a>
            <a href='/api_keys'>API Keys</a>
          </div>
        </section>
      </nav>
    </header>
    <main role='main'>
      <%= yield %>
    </main>
  </body>
</html>
