<nav aria-label="Main">
    <ul>
        <li>
            <a class="logo" href="/" title="Home">
                <span class="icon icon-pig"></span>
                <span class="sr-only">Home</span>
            </a>
        </li>

        <NavBar_DropDown Title="Manage">
            <NavBar_Item Href="/accounts" Title="Accounts" />
            <NavBar_Item Href="/commodities" Title="Commodities" />
            <NavBar_Item Href="/transactions" Title="Transactions" />
        </NavBar_DropDown>

        <NavBar_DropDown Title="Import">
            <NavBar_Item Href="/import/gnucash" Title="GnuCash" />
            <NavBar_Item Href="/import/ofx" Title="OFX" />
        </NavBar_DropDown>

        <NavBar_Item Href="/budget" Title="Budget" />

        <NavBar_DropDown Title="Reports">
            <NavBar_Item Href="/reports/balance-sheet" Title="Balance Sheet" />
            <NavBar_Item Href="/reports/income-statement" Title="Income Statement" />
        </NavBar_DropDown>
    </ul>
</nav>