/* 
    Many thanks to Stephanie Eckles for this article:
    https://moderncss.dev/css-only-accessible-dropdown-navigation-menu/ 
    Her techniques formed the foundation of the code for this component
*/

nav {
    background: var(--background-accent);
    display: grid;
    font-size: 1.25rem;
    margin: 0;
    padding: 1rem 1rem 0.33rem 1rem;
    place-items: start;
}

    nav > ul {
        display: grid;
        grid-auto-flow: column;
        list-style: none;
        margin: 0;
        padding: 0;
    }

.logo {
    color: var(--green);
    font-size: 1.75em;
    text-decoration: none;
    vertical-align: middle;
}

.title {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.25rem;
}
