%form{method: "POST", action: @action}
  %input{
    type: 'hidden',
    name: '_method',
    value: @method
  }
  %input{
    type: 'hidden',
    name: '_token',
    value: PiggyBank::App.token
  }
  %input{
    type: 'hidden',
    name: 'version',
    value: @price.version
  }
  %label
    Name
    %input{ 
      name: "quote_date",
      type: "date",
      value: @price.quote_date
    }
  %label
    Commodity
    %select{ name: "commodity_id"}
      - PiggyBank::Commodity.commodity_opts(@price.commodity).each do |opt|
        %option{
          value: opt[:value],
          selected: opt[:selected]
        }
          = opt[:text]
  %label
    Currency
    %select{ name: "currency_id"}
      - PiggyBank::Commodity.commodity_opts(@price.currency).each do |opt|
        %option{
          value: opt[:value],
          selected: opt[:selected]
        }
          = opt[:text]
  %label
    Value
    %input{ 
      name: "value",
      type: "number",
      value: @price.value
    }
  .buttons
    %button.btn.primary
      %span.icon.icon-solid-check
      %span.text Save
    -# FUTURE: make this link do JS: history.back()
    %a.btn.secondary(href='/accounts')
      %span.icon.icon-close
      %span.text Cancel
