%h1 Transactions
= styled_flash
%div
  %a(href='/tx') New Transaction 
%table
  %thead
    %tr
      %th Date
      %th
  %tbody
    - @txs.each do |tx|
      %tr
        %td
          %a{href: "/tx/#{tx.tx_id}" }= tx.post_date
        %td
          %a.btn.primary{ href: "/tx/#{tx.tx_id}?edit" }
            %span.icon.icon-pencil
            %span.sr-only Edit 
          %a.btn.danger{ href: "/tx/#{tx.tx_id}?delete" }
            %span.icon.icon-trash
            %span.sr-only Trash