%h1 General Information
= styled_flash
%form.ofx{ method: "POST" }
  %input{ type: "hidden", name: "_token", value: PiggyBank::App.token }
  %fieldset
    %legend 
      Taxpayer
    %label
      First Name and MI
      %input{ name: "first_name", type: "text", value: @general.first_name }
    %label 
      Last Name
      %input{ name: "last_name", type: "text", value: @general.last_name }
    %label
      SSN 
      %input{ name: "ssn", type: "text", value: @general.ssn}
    %label
      Birthday 
      %input{ name: "birthday", type: "date", value: @general.birthday }
    %label
      Is Blind?
      %input{ name: "blind", type: "checkbox", checked: @general.blind } 
  %fieldset
    %legend 
      Spouse
    %label
      First Name and MI
      %input{ name: "spouse_first_name", type: "text", value: @general.spouse_first_name }
    %label 
      Last Name
      %input{ name: "spouse_last_name", type: "text", value: @general.spouse_last_name }
    %label
      SSN 
      %input{ name: "spouse_ssn", type: "text", value: @general.spouse_ssn}
    %label
      Birthday 
      %input{ name: "spouse_birthday", type: "date", value: @general.spouse_birthday }
    %label
      Is Blind?
      %input{ name: "spouse_blind", type: "checkbox", checked: @general.spouse_blind } 
  .buttons
    %button.btn.primary
      %span.icon.icon-solid-check
      %span.text Save
    %a.btn.secondary(href='/tax/data')
      %span.icon.icon-close
      %span.text Cancel
