<h1>File Your Taxes</h1>
<%= styled_flash %>
<p>
  This is the main page for managing the data that is used to
  calculate taxes. You will still need to consult tax manuals
  as the software doesn't contain many worksheets, rulesets,
  or even any tax tables!
</p>
<ul>
  <li>
    <a href="/tax/data/general">General</a>
  </li>
  <li>
    <a href="/tax/data/income">Income</a>
  </li>
  <li>
    <a href="/tax/data/deduct">Deductions</a>
  </li>
  <li>
    <a href="/tax/data/education">Education</a>
  </li>
  <li>
    <a href="/tax/data/hsa">HSA</a>
  </li>
</ul>
