@attribute [Route(PageRoute.BudgetAmountIndex)]

<h1>Manage Budget Amounts</h1>

<p>
    <a class="btn btn-primary" href="@PageRoute.BudgetAmountAdd">
        <svg class="icon icon-plus"><use xlink:href="#icon-plus"></use></svg>
        Add New Budget Amount
    </a>
</p>

@if (!_found)
{
    <Notifications_NotFound Message="@_notFoundMessage" />
}
else if (!_loading && _model is not null)
{
    <PiggyBank.Shared.TreeTable.TreeTable Model="_model" />
}
else
{
    <p>Loading...</p>
}
