@page "/budgets"

@inject BudgetService BudgetService

<h1>Manage Budgets</h1>

<div><a class="btn" href="/budget/add"><span class="icon-plus" aria-hidden="true"></span> Add New Budget</a></div>

@if (_budgets is object)
{
    <table>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Starts</th>
                <th scope="col">Ends</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var budget in _budgets)
            {
                if (budget.IsHidden) continue;
                <tr>
                    <th scope="row"><a href="/budget/edit/@budget.Id">@budget.Name</a></th>
                    <td>@budget.Description</td>
                    <td>@budget.StartDate</td>
                    <td>@budget.EndDate</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@code {
    private ICollection<Budget>? _budgets;

    protected override async Task OnInitializedAsync()
    {
        _budgets = await BudgetService.GetBudgetsAsync();
    }
}
