@page "/budgets"
@using Microsoft.AspNetCore.Html;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PiggyBank.Data.Models
@using PiggyBank.Shared.TreeView;
@inject AccountService AccountService
@inject ImportService ImportService

<h1>Manage Budgets</h1>

if (_budgets is object)
{
    <ul>
        <li>budget 1</li>
    </ul>
}
else
{
    <p>Loading...</p>
}

@code {
    private IList<Budget>? _accounts;

    protected IList<Account> RootAccounts
    {
        get
        {
            if (_accounts is object)
            {
                return _accounts.Where(a => a.Parent == null).ToList();
            }

            return new List<Account>();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _accounts = await AccountService.GetAccountsAsync();
    }

    protected string AccountName(object data)
    {
        return ((Account)data).Name;
    }

    protected ICollection<TreeViewModel> AccountsToTreeViewModel(ICollection<Account> accounts)
    {
        var model = new List<TreeViewModel>();
        foreach (var account in accounts.OrderBy(a => a.Name))
        {
            var tvm = new TreeViewModel(new MarkupString(account.Name));
            if (account.Children.Count > 0)
            {
                tvm.Children = AccountsToTreeViewModel(account.Children);
            }
            model.Add(tvm);
        }

        return model;
    }
}
