@page "/budgets"
@using Microsoft.AspNetCore.Html;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PiggyBank.Data.Models
@using PiggyBank.Shared.TreeView;
@inject BudgetService BudgetService

<h1>Manage Budgets</h1>

@if (_budgets is object)
{
    <ul>
        <li>budget 1</li>
    </ul>
}
else
{
    <p>Loading...</p>
}

@code {
    private ICollection<Budget>? _budgets;

    protected override async Task OnInitializedAsync()
    {
        _budgets = await BudgetService.GetBudgetsAsync();
    }
}
