<h3 class='modal-title'>Title</h3>
<form class='account-editor form'>
  <div class='modal-body'>
    <div class='form-row'>
      <div class='form-group col-lg-3'>
        <label for='accountType'>Account Type</label>
        <select id='accountType' class='form-control'>
          <option value="1">Asset</option>
          <option value="2">Equity</option>
          <option value="3">Expense</option>
          <option value="4">Income</option>
          <option value="5">Liability</option>
          <option value="6">Mortgage</option>
        </select>
      </div>
      <div class='form-group col-lg-6'>
        <div id='parentSelect'></div>
      </div>
      <div class='form-group col-lg-3'>
        <div id='commoditySelect'></div>
      </div>
    </div>
    <div class='form-row'>
      <div class='form-group col'>
        <label for='accountName'>Name</label>
        <input id='accountName' class='form-control' type='text' value='${d.name}' />
      </div>
    </div>
    <div class='form-row'>
      <div class='form-group col'>
        <div class='form-check'>
          <input id='isPlaceholder' class='form-check-input' type='checkbox' ?checked=${d.isPlaceholder} />
          <label for='isPlaceholder' class='form-check-label'>
            Is Placeholder
          </label>
        </div>
      </div>
    </div>
    <div id='mortgage-details' class='account-details' style='display: none'>
      <hr />
      <div class='form-row'>
        <h4 class='col'>Mortgage Details</h4>
      </div>
      <div class='form-row'>
        <div class='form-group col'>
          <label for='mortgagePrincipal'>Principal</label>
          <input id='mortgagePrincipal' class='form-control' type='number' value='${d.mortgagePrincipal}' />
        </div>
        <div class='form-group col'>
          <label for='mortgageRate'>Rate (% APR)</label>
          <input id='mortgageRate' class='form-control' type='number' value='${d.mortgageRate}' />
        </div>
      </div>
      <div class='form-row'>
        <div class='form-group col'>
          <label for='mortgageStartDate'>Start Date</label>
          <input id='mortgageStartDate' class='form-control' type='date' value='${d.mortgageStartDate}' />
        </div>
        <div class='form-group col'>
          <label for='mortgagePayments'>Payments</label>
          <input id='mortgagePayments' class='form-control' type='text' value='${d.mortgagePayments}' />
        </div>
        <div class='form-group col'>
          <label for='mortgagePeriod'>Period</label>
          <select id='mortgagePeriod' class='form-control'>
            <option>Monthly</option>
          </select>
        </div>
      </div>
    </div>
    <p>[TODO: make save process update piggybank.accounts collection before render()]</p>
    <div class='form-group'>
      <button class='save btn btn-success mr-2'><span class='icon-solid-check'></span> Save</button>
      <button class='cancel btn btn-danger'><span class='icon-close'></span> Cancel</button>
    </div>
  </div>
</form>
