%form{method: "POST", action: @action}
  %label 
    Account Type
    %select{ name: "type" }
      %option{ value: 1 }
        Asset
      %option{ value: 2 }
        Equity
      %option{ value: 3 }
        Expense
      %option{ value: 4 }
        Income
      %option{ value: 5 }
        Liability
      %option{ value: 6 }
        Mortgage
  %label
    Parent Account
    %select{ name: "parent_id" }
      -# TODO: create Parent Account select menu
      -# - PiggyBank::Account.account_opts.each do |opt|
      -#   %option{
      -#     value: opt[:value],
      -#     selected: opt[:selected]
      -#   }
      -#     = opt[:text]
  %label
    Commodity
    %select{ name: "commodity_id"}
    -# TODO: create Commodity select menu
  %label
    Name
    %input{ 
      name: "name",
      type: "text",
      value: @account.name
    }
  .form-check
    %input{
      id: 'is_placeholder',
      type: 'checkbox',
      checked: @account.is_placeholder
    }
    %label{ 
      for: 'is_placeholder'
    }
      Is Placeholder
    -# <div id='mortgage-details' class='account-details' style='display: none'>
    -#   <hr />
    -#   <div class='form-row'>
    -#     <h4 class='col'>Mortgage Details</h4>
    -#   </div>
    -#   <div class='form-row'>
    -#     <div class='form-group col'>
    -#       <label for='mortgagePrincipal'>Principal</label>
    -#       <input id='mortgagePrincipal' class='form-control' type='number' value='${d.mortgagePrincipal}' />
    -#     </div>
    -#     <div class='form-group col'>
    -#       <label for='mortgageRate'>Rate (% APR)</label>
    -#       <input id='mortgageRate' class='form-control' type='number' value='${d.mortgageRate}' />
    -#     </div>
    -#   </div>
    -#   <div class='form-row'>
    -#     <div class='form-group col'>
    -#       <label for='mortgageStartDate'>Start Date</label>
    -#       <input id='mortgageStartDate' class='form-control' type='date' value='${d.mortgageStartDate}' />
    -#     </div>
    -#     <div class='form-group col'>
    -#       <label for='mortgagePayments'>Payments</label>
    -#       <input id='mortgagePayments' class='form-control' type='text' value='${d.mortgagePayments}' />
    -#     </div>
    -#     <div class='form-group col'>
    -#       <label for='mortgagePeriod'>Period</label>
    -#       <select id='mortgagePeriod' class='form-control'>
    -#         <option>Monthly</option>
    -#       </select>
    -#     </div>
    -#   </div>
    -# </div>

  .buttons
    %button.btn.primary
      %span.icon.icon-solid-check
      %span.text Save
    -# FUTURE: make this link do JS: history.back()
    %a.btn.secondary(href='/accounts')
      %span.icon.icon-close
      %span.text Cancel

