%h1 Chart of Accounts
%p
  This is your 
  %a(href='https://en.wikipedia.org/wiki/Chart_of_accounts')
    Chart of Accounts
%p
  Click 
  %span.icon.icon-plus
  to add a subaccount,
  %span.icon.icon-pencil
  to edit an account,
  %span.icon.icon-trash
  to delete an account.

= haml :"account/tree", locals: { accounts: @accounts }

%p
  <em>Assets</em>, <em>Liabilities</em>, <em>Income</em>, 
  <em>Expense</em>, and <em>Equity</em> are 
  required accounts and may not be edited or deleted.

-# ZZZ: Display chart of accounts