<h1>Chart of Accounts</h1>
<p>
  This is your <a href='https://en.wikipedia.org/wiki/Chart_of_accounts'>Chart of Accounts</a>
</p>
<p>
  Click <span class='icon icon-plus'></span> to add a subaccount,
  <span class='icon icon-pencil'></span> to edit an account,
  <span class='icon icon-trash'></span> to delete an account.</p>
<p>
  <em>Assets</em>, <em>Liabilities</em>, <em>Income</em>, <em>Expense</em>, and <em>Equity</em> are 
  required accounts and may not be edited or deleted.
</p>
