%h1 Settings
%p 
  There are no user manageable settings at this point. 
  The following settings are informational only.
%form
  %label
    Base Currency
    %select(name='currency')
      - currency_options.each do |opt|
        %option{
          value: opt[:value],
          selected: opt[:selected]
        }
          = opt[:name]
  %label
    Locale
    %select(name='locale')
      - locale_options.each do |opt|
        %option{
          value: opt[:value],
          select: opt[:selected]
        } 
          = opt[:name]
  %input.btn.primary(type='submit' value='Save' disabled)
