h1= "Price '#{@price.price_id}'"
.links
  a(href="/prices") Prices Index
= haml :"price/as_dl"
.buttons
  a.btn.primary(href="/price/#{@price.price_id}?edit")
    span.icon.icon-pencil
    span.text Edit 
  a.btn.danger(href="/price/#{@price.price_id}?delete")
    span.icon.icon-trash
    span.text Delete

