@attribute [Route(PageRoute.TransactionIndex)]

<h1>Transactions</h1>

<p>
    @if (_importing)
    {
        @:Importing transactions from GnuCash (@_recordsProcessed / @_recordCount)
    }
    else
    {
        <button class="primary" @onclick="ImportClicked">Import from GnuCash</button>
    }
</p>

@if (_importing)
{
    <p>Table will update after import completes.</p>
}
else if (_transactions is not null)
{
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in _transactions)
            {
                <tr>
                    <td>@transaction.PostDate</td>
                    <td>@transaction.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}
