h1= "OFX Configuration '#{@ofx.account.name}'"
.links
  a(href="/ofxs") API Key Index
= haml :"ofx/as_dl"
.buttons
  a.btn.primary(href="/ofx/#{@ofx.ofx_id}?edit")
    span.icon.icon-pencil
    span.text Edit 
  a.btn.danger(href="/ofx/#{@ofx.ofx_id}?delete")
    span.icon.icon-trash
    span.text Delete
