@model List<PiggyBank.Models.Commodity>
@{
    ViewData["Title"] = "Commodities";
}

<h1>Commodities</h1>
@{
    foreach (PiggyBank.Models.Commodity commodity in @Model)
    {
        <p>@commodity.Name</p>
    }
}