@inherits LayoutComponentBase

<PageTitle>PiggyBank</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <PiggyBank.Shared.Notifications.Notifications />
        @Body
    </main>
</div>
