<nav>
    <div class="title-bar">
        <a class="logo" href="/" title="Home">
            <span class="icon-pig"></span>
            <span class="link-text">PiggyBank</span>
        </a>

        <button title="toggle site navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="icon-menu"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" aria-label="Site" @onclick="ToggleNavMenu">
        <ul>
            <li>
                <h2>Import</h2>
                <ul>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/import/gnucash">
                            <span class="icon-download" aria-hidden="true"></span>
                            <span class="link-text">
                                <span class="sr-only">Import </span>
                                GnuCash Data
                            </span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/import/ofx">
                            <span class="icon-upload" aria-hidden="true"></span>
                            <span class="link-text">
                                <span class="sr-only">Import </span>
                                OFX/QFX File
                            </span>
                        </NavLink>
                    </li>
                </ul>
            </li>
            <li>
                <h2>Reports</h2>
                <ul>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/report/budget">
                            <span class="icon-calculator" aria-hidden="true"></span>
                            <span class="link-text">
                                Budget
                                <span class="sr-only"> Report</span>
                            </span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/report/income-expense">
                            <span class="icon-calculator" aria-hidden="true"></span>
                            <span class="link-text">
                                Income &amp; Expense
                                <span class="sr-only"> Report</span>
                            </span>
                        </NavLink>
                    </li>
                </ul>
            </li>
            <li>
                <h2>Manage</h2>
                <ul>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/accounts">
                            <span class="icon-library" aria-hidden="true"></span>
                            <span class="link-text">
                                <span class="sr-only">Manage </span>
                                Accounts
                            </span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/commodities">
                            <span class="icon-coin-dollar" aria-hidden="true"></span>
                            <span class="link-text">
                                <span class="sr-only">Manage </span>
                                Commodities
                            </span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/transactions">
                            <span class="icon-credit-card" aria-hidden="true"></span>
                            <span class="link-text">
                                <span class="sr-only">Manage </span>
                                Transactions
                            </span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/budgets">
                            <span class="icon-pie-chart" aria-hidden="true"></span>
                            <span class="link-text">
                                <span class="sr-only">Manage </span>
                                Budgets
                            </span>
                        </NavLink>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
