<nav aria-label="Main Navigation">
    <ul>
        <li>
            <a class="logo" href="/" title="Home">
                <span class="icon icon-pig"></span>
                <span class="sr-only">Home</span>
            </a>
        </li>
        <li class="dropdown">
            <button type="button" class="title" aria-expanded="false" aria-controls="manage-menu">
                Manage
            </button>
            <ul id="manage-menu" class="menu">
                <li>
                    <a href="/accounts">Accounts</a>
                </li>
                <li>
                    <a href="/commodities">Commodities</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/budget">Budget</a>
        </li>
        <li class="dropdown">
            <button type="button" class="title" aria-expanded="false" aria-controls="reports-menu">
                Reports
            </button>
            <ul id="reports-menu" class="menu">
                <li>
                    <a href="/reports/balance-sheet">Balance Sheet</a>
                </li>
                <li>
                    <a href="/reports/income-statement">Income Statement</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>