h1 Delete Transaction?
= styled_flash
form(method='POST', action="/tx/#{@tx.tx_id}")
  input(type='hidden', name='_method', value='DELETE')
  input(type='hidden', name='_token',  value=PiggyBank::App.token)
  input(type='hidden', name='version', value=@tx.version)
  = haml :"tx/as_dl"
  .buttons
    button.btn.danger
      span.icon.icon-trash
      span.text Delete
    -# FUTURE=make this link do JS=history.back()
    a.btn.secondary(href="/prices")
      span.icon.icon-close
      span.text Cancel
