@font-face {
    font-family: 'Fira Mono';
    src: url('fonts/FiraMono-Medium.ttf') format('truetype'), url('fonts/FiraMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

:root {
    --background-accent: #d0d0d0;
    --background-active: rgba(255,255,255,0.3);
    --background-color: #e8e8e8;
    --background-highlight: #ffffff;
    --background-hover: rgba(255,255,255,0.5);
    --color: #101010;
    --color-highlight: #000000;
    --color-label: #303030;
    --green: #008030;
    --link-color: #0000ff;
    --warning: #ffff00;
    --warning-accent: #ffff80;
    --warning-color: #000000;
}

@media(prefers-color-scheme: dark) {
    :root {
        --background-accent: #202020;
        --background-active: rgba(255,255,255,0.1);
        --background-color: #181818;
        --background-highlight: #000000;
        --background-hover: rgba(255,255,255,0.25);
        --color: #d0d0d0;
        --color-highlight: #f8f8f8;
        --color-label: #b0b0b0;
        --green: #42a884;
        --link-color: #8080ff;
        --warning-background: #000000;
        --warning-accent: #ffff80;
        --warning-color: #ffff00;
    }
}

html {
    font-size: 14pt;
}

@media print {
    html {
        font-size: 12pt;
    }
}

a, a:visited {
    color: var(--link-color);
}

body, input, button, select, optgroup, textarea {
    font-family: "Fira Mono" !important;
}

body {
    background: var(--background-color);
    color: var(--color);
    padding: 0;
    margin: 0;
}

.btn {
    background: var(--background-accent);
    border: 2px solid;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

    .btn:hover {
        background: var(--background-hover);
    }

.btn-primary,
a.btn-primary,
a.btn-primary:visited {
    color: var(--green);
}

/*.btn-secondary {
    background-color: #879096;
    border-color: #879096;
}

    .btn-secondary:hover {
        background-color: #697178;
        border-color: #697178;
    }

.btn-success {
    background-color: #05a172;
    border-color: #05a172;
}

    .btn-success:hover {
        background-color: #42a884;
        border-color: #42a884;
    }
*/
.collapse {
    display: none;
}

form {
    padding-top: 1rem;
}

    form .buttons {
        padding-top: 1rem;
    }

    form input[type=checkbox] {
        float: left;
    }

    form .field {
        padding-bottom: 0.66rem;
    }

        form .field.checkbox {
            display: flex;
        }

            form .field.checkbox label {
                padding-left: 0.5rem;
            }

    form label {
        float: left;
        width: 100%;
        top: 0px;
        color: var(--color-label);
        font-size: 0.9rem;
        font-weight: 700;
        text-align: left;
        line-height: 1.5;
    }

        form label.checkbox {
            float: left;
            padding: 5px 20px;
            line-height: 1.7;
        }

    form input[type=text] {
        width: 100%;
        height: 32px;
        padding: 0px 10px;
        background-color: rgba(0,0,0,0.03);
        border: none;
        display: inline;
        color: #303030;
        font-size: 16px;
        font-weight: 400;
        float: left;
        -webkit-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05), 1px 1px 0px rgba(255,255,255,1);
        -moz-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05), 1px 1px 0px rgba(255,255,255,1);
        box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05), 1px 1px 0px rgba(255,255,255,1);
    }

input[type=text]:focus,
input[type=password]:focus {
    background-color: #f8f8c6;
    outline: none;
}


h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

p {
    box-sizing: border-box;
    margin: 0.5rem 0;
    padding: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

table {
    border-collapse: collapse;
    display: block;
    margin-top: 1rem;
}

    table caption {
        font-size: 1.25rem;
        padding-bottom: 0.33rem;
        text-align: left;
    }

tbody tr:nth-child(odd) {
    background-color: var(--background-accent);
}

td, th {
    padding: 0.5rem;
}

tfoot {
    display: table-row-group;
    border-bottom-style: double;
}

    tfoot th, tfoot td {
        padding: 0.2rem 0;
    }

thead th {
    background: var(--color-label);
    color: var(--background-color);
}

th {
    text-align: left;
    vertical-align: top;
}

.tree {
    padding-left: 0;
}

    .tree li {
        list-style: none;
    }

    .tree li, .tree summary {
        padding-bottom: 0.33rem;
    }

/* using <summary> and <details> and styles from https://iamkate.com/code/tree-views/ */

/*
.tree {
    --spacing: 1.5rem;
    --radius: 10px;
}

    .tree li {
        display: block;
        position: relative;
        padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
    }

        .tree li.hidden-account {
            display: none;
        }

    .tree ul {
        margin-left: calc(var(--radius) - var(--spacing));
        padding-left: 0;
    }

        .tree ul li {
            border-left: 2px solid #ddd;
        }

            .tree ul li:last-child {
                border-color: transparent;
            }

            .tree ul li::before {
                content: '';
                display: block;
                position: absolute;
                top: calc(var(--spacing) / -2);
                left: -2px;
                width: calc(var(--spacing) + 2px);
                height: calc(var(--spacing) + 1px);
                border: solid #ddd;
                border-width: 0 0 2px 2px;
            }

    .tree summary {
        display: block;
        cursor: pointer;
    }

        .tree summary::marker {
            display: none;
        }

        .tree summary:focus {
            outline: none;
        }

        .tree summary:focus-visible {
            outline: 1px dotted var(--background-highlight);
        }

        .tree li::after,
        .tree summary::before {
            content: '';
            display: block;
            position: absolute;
            top: calc(var(--spacing) / 2 - var(--radius));
            left: calc(var(--spacing) - var(--radius) - 1px);
            width: calc(2 * var(--radius));
            height: calc(2 * var(--radius));
            border-radius: 50%;
            background: #ddd;
        }

        .tree summary::before {
            content: '+';
            background: #696;
            color: #fff;
            line-height: calc(2 * var(--radius) - 2px);
            text-align: center;
        }

    .tree details[open] > summary::before {
        content: '−';
    }

ul.tree {
    padding-left: 0;
}
*/

#blazor-error-ui {
    background: var(--warning-background);
    border: 2px solid var(--warning-accent);
    bottom: 0;
    color: var(--warning-color);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
