@font-face {
    font-family: 'Fira Mono';
    src: url('fonts/FiraMono-Medium.ttf') format('truetype'), url('fonts/FiraMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

:root {
    --background-accent: #d0d0d0;
    --background-color: #e8e8e8;
    --background-highlight: #ffffff;
    --color: #080808;
    --green: #378b6d;
    --link-color: #0000ff;
}

@media(prefers-color-scheme: dark) {
    :root {
        --background-accent: #202020;
        --background-color: #181818;
        --background-highlight: #000000;
        --color: #d0d0d0;
        --green: #42a884;
        --link-color: #8080ff;
    }
}

a, a:visited {
    color: var(--link-color);
}

body, input, button, select, optgroup, textarea {
    font-family: "Fira Mono" !important;
}

body {
    background: var(--background-color);
    color: var(--color);
    padding: 0;
    margin: 0;
}

.btn-secondary {
    background-color: #879096;
    border-color: #879096;
}

    .btn-secondary:hover {
        background-color: #697178;
        border-color: #697178;
    }

.btn-success {
    background-color: #05a172;
    border-color: #05a172;
}

    .btn-success:hover {
        background-color: #42a884;
        border-color: #42a884;
    }

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}