%h1 Education Information
= styled_flash
%form{ method: "POST" }
  %input{ type: "hidden", name: "_token", value: PiggyBank::App.token }
  %fieldset 
    %legend Student Info
    %label
      Student Name
      %input{ name: "student_name", type: "text", value: @education.student_name }
    %label
      Student SSN
      %input{ name: "student_ssn", type: "text", value: @education.student_ssn }
  %fieldset
    %legend Institution
    %label
      Institution Name
      %input{ name: "institution_name", type: "text", value: @education.institution_name }
    %label
      Institution Address
      %input{ name: "institution_address", type: "text", value: @education.institution_address }
    %label
      Institution EIN
      %input{ name: "institution_ein", type: "text", value: @education.institution_ein }
  %fieldset
    %legend 1098-T Questions
    %label
      Received 1098-T?
      %input{ name: "[received_1098]", type: "checkbox", checked: @education.received_1098 }
    %label
      Was Box 7 Checked?
      %input{ name: "[box_7_checked]", type: "checkbox", checked: @education.box_7_checked }
  %fieldset
    %legend Other Questions
    %label
      Hope Credit or American Opportunity in prior 4 tax years?
      %input{ name: "[hope_opportunity_claimed]", type: "checkbox", checked: @education.hope_opportunity_claimed }
    %label
      Was student enrolled at least half-time for one period?
      %input{ name: "[at_least_half_time]", type: "checkbox", checked: @education.at_least_half_time }
    %label
      Did the student complete 4 years post-secondary before 2020?
      %input{ name: "[postsecondary_completed]", type: "checkbox", checked: @education.postsecondary_completed }
  %fieldset
    %legend Lifetime Learning Credit
    %label
      Qualified Expenses
      %input{ name: "lifetime_credit_expenses", type: "number", min: 0, value: @education.lifetime_credit_expenses }
  %fieldset
    %legend 529 One
    %label
      Institution
      %input{ name: "m1529_name_1", type: "text", value: @education.m1529_name_1 }
    %label
      Account
      %input{ name: "m1529_account_1", type: "text", value: @education.m1529_account_1 }
    %label
      Amount
      %input{ name: "m1529_amount_1", type: "number", min: 0, value: @education.m1529_amount_1 }
  %fieldset
    %legend 529 Two
    %label
      Institution
      %input{ name: "m1529_name_2", type: "text", value: @education.m1529_name_2 }
    %label
      Account
      %input{ name: "m1529_account_2", type: "text", value: @education.m1529_account_2 }
    %label
      Amount
      %input{ name: "m1529_amount_2", type: "number", min: 0, value: @education.m1529_amount_2 }
  .button
    %button.btn.primary{ formaction: "/tax/data/education" }
      %span.icon.icon-solid-check
      %span.text Save
    %a.btn.secondary{ href: '/tax/data' }
      %span.icon.icon-close
      %span.text Cancel