[Unit]
Description=PiggyBank Flask Service
After=network.target

[Service]
Type=idle
RuntimeDirectory=gunicorn3
WorkingDirectory=/home/pi/PiggyBank/
ExecStart=/home/pi/PiggyBank/venv/bin/gunicorn piggybank:app --bind 192.168.0.13:443 --certfile=/etc/ssl/certs/apache-selfsigned.crt --keyfile=/etc/ssl/private/apache-selfsigned.key
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target
