%fieldset 
  %legend= "1098 ##{n+1}"
  %label
    1 - Interest Received
    %input{ name: "form1098[][interest]", type: "number", step: 0.01, min: 0, value: form1098.interest }
  %label
    2 - Outstanding Principal
    %input{ name: "form1098[][outstanding]", type: "number", step: 0.01, min: 0, value: form1098.outstanding }
  %label
    3 - Origination Date
    %input{ name: "form1098[][origination]", type: "date", value: form1098.origination }      
  %label
    4 - Refund
    %input{ name: "form1098[][refund]", type: "number", step: 0.01, min: 0, value: form1098.refund }
  %label
    5 - Premiums
    %input{ name: "form1098[][premiums]", type: "number", step: 0.01, min: 0, value: form1098.premiums }      
  %label
    6 - Points Paid
    %input{ name: "form1098[][points_paid]", type: "number", step: 0.01, min: 0, value: form1098.points_paid }
  %label
    7 - Same Address?
    %input{ name: "form1098[][same_address]", type: "checkbox", selected: form1098.same_address }
  %label
    8 - Address
    %input{ name: "form1098[][address]", type: "text", value: form1098.address }
  %label
    9 - Properties
    %input{ name: "form1098[][properties]", type: "number", min: 0, value: form1098.properties }
  %label
    10 - Other
    %input{ name: "form1098[][other]", type: "text", value: form1098.other }      
  %label
    11 - Acquisition Date
    %input{ name: "form1098[][acquisition]", type: "date", value: form1098.acquisition }
  %button.btn.danger{ formaction: "/tax/data/deduct?rm_1098=#{n}" }
    %span.icon.icon-trash
    %span.text Remove 1098
