%h1 Reports
%p Use reports to see how things are going
%ul
  %li 
    %a{ href: "/report/balance"} Balance Sheet
  %li 
    %a{ href: "/report/income"} Income Statement
  %li 
    %a{ href: "/report/cash"} Cash Flow

-# ZZZ: Add list of supported reports