%h1 Reports
%p Use reports to see how things are going
%ul
  %li 
    %a{ href: "/reports/balance"} Balance Sheet
  %li 
    %a{ href: "/reports/income"} Income Statement
  %li 
    %a{ href: "/reports/cash"} Cash Flow

-# ZZZ: Add list of supported reports