<h1>Reports</h1>
<p>Use reports to see how things are going</p>
<ul>
  <li>
    <a href="/report/balance">Balance Sheet</a>
  </li>
  <li>
    <a href="/report/income">Income Statement</a>
  </li>
  <li>
    <a href="/report/cash">Cash Flow</a>
  </li>
</ul>
<% # ZZZ: Add list of supported reports %>
