<h1>Delete Commodity?</h1>
<form method="POST">
  <input id='_token' type='hidden' name='_token' value='<%= PiggyBank::App.token %>' />
  <%= erb :"commodity/view", locals: { commodity: commodity }%>
  <div class='buttons'>
    <button class='btn danger'><span class='icon-trash'></span> Delete</button>
    <a href="/commodities" class='btn secondary'><span class='icon-close'></span> Cancel</a>
  </div>
</form>
