%h1 Delete Commodity?
= styled_flash
%form(method='POST')
  %input{
    id: '_token',
    type: 'hidden',
    name: '_token',
    value: PiggyBank::App.token
  }
  = haml :"commodity/as_dl", locals: { commodity: commodity }
  .buttons
    %button.btn.danger
      %span.icon.icon-trash
      %span.text Delete
    %a.btn.secondary(href="/commodities")
      %span.icon.icon-close
      %span.text Cancel
