<h1>Compare Old/New Commodity</h1>
<%= styled_flash %>
<div class="diff">
  <div class="original">
    <h2>Server Version</h2>
    <%= erb :"commodity/as_dl" %>
  </div>
  <div class="new">
    <h2>Your Changes</h2>
    <%= erb :"commodity/form" %>
  </div>
</div>
