<h1>Commodities</h1>
<p>Coming soon!</p>
<table class='table'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Ticker</th>
    <th>Fraction</th>
    <th></th>
  </tr>
</table>
