%h1= "Commodity #{commodity.commodity_id}"
= haml :"commodity/as_dl", locals: { commodity: commodity }
-# .buttons
-#   %button.btn.danger
-#     %span.icon.icon-trash
-#     Delete
-#   %a.btn.secondary(href="/commodities")
-#     %span.icon.icon-close
-#       Cancel
