@model ICollection<PiggyBank.Models.Account>

@{
    foreach (var account in @Model)
    {
        @if (account.Children.Count > 0)
        {
            <li class="@(account.IsHidden ? "hidden-account": "")">
                <details>
                    <summary>@account.Name</summary>
                    <ul>
                        <partial name="_AccountListPartial" model="account.Children" />
                    </ul>
                </details>
            </li>
        }
        else
        {
            <li class=" @(account.IsHidden ? "hidden-account" : "")">@account.Name</li>
        }
    }
}