@model List<PiggyBank.Models.Account>
@{
    ViewData["Title"] = "Accounts";
}

<div class="text-center">
    <h1>Accounts</h1>
    @{
        foreach(var account in @Model)
        {
            <p>@account.Name</p>
        }
    }
</div>
