%form.api_key{ method: "POST", action: @action }
  %fieldset
    %input{ type: "hidden", name: "_method", value: @method }
    %input{ type: "hidden", name: "_token", value: PiggyBank::App.token }
    %input{ type: "hidden", name: "version", value: @api_key.version }
    %label
      Description
      %input{ name: "description", type: "text", value: @api_key.description }
    %label
      Value
      %input{ name: "value", type: "text", value: @api_key.value }
  .buttons
    %button.btn.primary
      %span.icon.icon-solid-check
      %span.text Save
    -# FUTURE: make this link do JS: history.back()
    %a.btn.secondary{ href: "/api_keys" }
      %span.icon.icon-close
      %span.text Cancel
