%h1 API Keys
= styled_flash
%div
  %a{ href: '/api_key' } New API Key
%table
  %thead
    %tr
      %th Date
      %th
  %tbody
    - @api_keys.each do |api_key|
      %tr
        %td
          - #%a{href: "/api_key/#{api_key.api_key_id}" }= api_key.post_date
        %td
          %a.btn.primary{ href: "/api_key/#{api_key.api_key_id}?edit" }
            %span.icon.icon-pencil
            %span.sr-only Edit 
          %a.btn.danger{ href: "/api_key/#{api_key.api_key_id}?delete" }
            %span.icon.icon-trash
            %span.sr-only Trash