<h1>
  <%= "API Key '#{@api_key.description}'" %>
</h1>
<div class="links">
  <a href="/api_keys">API Key Index</a>
</div>
<%= erb :"api_key/as_dl" %>
<div class="buttons">
  <a class="btn primary" href="/api_key/<%= @api_key.api_key_id %>?edit">
    <span class="icon icon-pencil"></span>
    <span class="text">Edit </span>
  </a>
  <a class="btn danger" href="/api_key/<%= @api_key.api_key_id %>?delete">
    <span class="icon icon-trash"></span>
    <span class="text">Delete</span>
  </a>
</div>
