@if (Model is object)
{
    foreach (var node in Model)
    {
        if (node.Children.Count > 0)
        {
            <li>
                <details>
                    <summary>@node.Summary</summary>
                    <ul>
                        <TreeView_Node Model="node.Children" />
                    </ul>
                </details>
            </li>
        }
        else
        {
            <li>@node.Summary</li>
        }
    }
}

@code {
    [Parameter]
    public ICollection<TreeViewModel>? Model { get; set; }
}
