@*
    Inspired by https://iamkate.com/code/tree-views/
*@

@if (Model is not null)
{
    foreach (var node in Model)
    {
        if (node.Children.Count > 0)
        {
            <li>
                <details open>
                    <summary>@node.Summary</summary>
                    <ul>
                        <TreeView_Node Model="node.Children" />
                    </ul>
                </details>
            </li>
        }
        else
        {
            <li>@node.Summary</li>
        }
    }
}
