%h1 OFX Configuration
%p Coming soon!
%table
  %tr
    %th Account
    %th URL
    %th User
    %th Password
    %th FID
    %th FID Org
    %th Bank ID
    %th Account ID
    %th Account Type
    %th
