<h1>OFX Configuration</h1>
<p>Coming soon!</p>
<table>
  <tr>
    <th>Account</th>
    <th>URL</th>
    <th>User</th>
    <th>Password</th>
    <th>FID</th>
    <th>FID Org</th>
    <th>Bank ID</th>
    <th>Account ID</th>
    <th>Account Type</th>
    <th></th>
  </tr>
</table>
