%h1 Tax Forms Available
= styled_flash
%h2 DO NOT USE THESE FORMS!
%p
  These forms are here for informational and display
  purposes only. The developer of this software is neither a
  tax professional nor an accountant. While the forms
  produced by this software may be correct for some
  cases, there are many complexities in US tax law
  that have not been accounted for.
%p
  The developer of this software is making it for his
  personal use and is sharing it in the hopes that others
  may find it useful to build upon. If you are a programmer,
  please submit any patches you might have -- especially if 
  you happen to work on states other than Minnesota.
%ul
  %li
    US Federal
    %ul
      %li
        %a{ href: "/tax/form/us/form_1040" } Form 1040
        &mdash; Individual Income Tax
      %li  
        %a{ href: "/tax/form/us/sched_1"} Schedule 1
        &mdash; Additional Income
      %li  
        %a{ href: "/tax/form/us/sched_3"} Schedule 3
        &mdash; Additional Credits
      %li  
        %a{ href: "/tax/form/us/sched_a"} Schedule A
        &mdash; Itemized Deductions        
      %li  
        %a{ href: "/tax/form/us/sched_e"} Schedule E
        &mdash; Supplemental Income
      %li
        %a{ href: "/tax/form/us/form_8283" } Form 8283
        &mdash; Noncash Charitable Contributions
      %li
        %a{ href: "/tax/form/us/form_8889" } Form 8889
        &mdash; Health Savings Accounts
    Minnesota
    %ul
      %li
        %a{ href: "/tax/form/mn/m1" } M1
        &mdash; Individual Income Tax
      %li
        %a{ href: "/tax/form/mn/m1c" } M1C
        &mdash; Nonrefundable Credits
      %li
        %a{ href: "/tax/form/mn/m1m" } M1M
        &mdash; Income Additions and Subtractions
      %li
        %a{ href: "/tax/form/mn/m1ma" } M1MA
        &mdash; Marriage Credit
      %li
        %a{ href: "/tax/form/mn/m1sa" } M1SA
        &mdash; Itemized Deductions
      %li
        %a{ href: "/tax/form/mn/m1w" } M1W
        &mdash; Income Tax Withheld
      %li
        %a{ href: "/tax/form/mn/m1529" } M1529
        &mdash; Education Savings Account
