%h1 Tax Forms Available
= styled_flash
%h2 DO NOT USE THESE FORMS!
%p
  These forms are here for informational and display
  purposes only. The developer of this software is neither a
  tax professional nor an accountant. While the forms
  produced by this software may be correct for some
  cases, there are many complexities in US tax law
  that have not been accounted for.
%p
  The developer of this software is making it for his
  personal use and is sharing it in the hopes that others
  may find it useful to build upon. If you are a programmer,
  please submit any patches you might have -- especially if 
  you happen to work on states other than Minnesota.
%ul
  %li
    US Federal
    %ul
      %li
        %a{ href: "/tax/form/us/form_1040" } Form 1040
      %li  
        %a{ href: "/tax/form/us/sched_1"} Schedule 1
      %li  
        %a{ href: "/tax/form/us/sched_3"} Schedule 3
      %li  
        %a{ href: "/tax/form/us/sched_a"} Schedule A        
      %li  
        %a{ href: "/tax/form/us/sched_e"} Schedule E
      %li
        %a{ href: "/tax/form/us/form_8283" } Form 8283
      %li
        %a{ href: "/tax/form/us/form_8889" } Form 8889
    Minnesota
    %ul
      %li
        %a{ href: "/tax/form/mn/m1" } M1
