@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to PiggyBank</h1>
<p><a href="@Url.Action("Index", "Account")">Accounts</a></p>
<p><a href="@Url.Action("Index", "Commodity")">Commodities</a></p>
