<fieldset>
  <legend>
    <%= "Cash Donation ##{n+1}" %>
  </legend>
  <label>
    Charity
    <input name="cash_donation[][charity]" type="text" value="<%= cash_donation.charity %>"></input>
  </label>
  <label>
    Amount
    <input min="0" name="cash_donation[][amount]" step="0.01" type="number" value="<%= cash_donation.amount %>"></input>
  </label>
  <button class="btn danger" formaction="/tax/data/deduct?rm_cd=<%= n %>">
    <span class="icon icon-trash"></span>
    <span class="text">Remove Donation</span>
  </button>
</fieldset>
