@page "/report/income-expense"
@using PiggyBank.Shared.TreeTable;
@inject AccountService AccountService

<h1>Income &amp; Expense Report</h1>

@if (_accounts is object && _balances is object)
{
    <div class="income-expense">
        <h2>Report Date: @_endDate</h2>

        <TreeTable Model="@CreateTreeTableModel(Account.AccountType.Income)" />
        <TreeTable Model="@CreateTreeTableModel(Account.AccountType.Expense)" />
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    private DateOnly _startDate = DateOnly.MinValue;
    private DateOnly _endDate = DateOnly.MaxValue;
    private string _priorYear = null!;
    private DateOnly _priorYearStart = DateOnly.MinValue;
    private DateOnly _priorYearEnd = DateOnly.MaxValue;
    private ICollection<Account>? _accounts;
    private Dictionary<string, Balances>? _balances;

    protected override async Task OnInitializedAsync()
    {
        _accounts = await AccountService.GetAccountsIncludeSplitsAsync();
        var endDate = DateTime.Now;
        _endDate = DateOnly.FromDateTime(endDate);
        _startDate = new DateOnly(_endDate.Year, 1, 1);
        var ytdBalances = new Balances(_accounts, _startDate, _endDate);

        var priorYear = _endDate.Year - 1;
        _priorYear = priorYear.ToString();
        _priorYearStart = new DateOnly(priorYear, 1, 1);
        _priorYearEnd = new DateOnly(priorYear, 12, 31);
        var priorBalances = new Balances(_accounts, _priorYearStart, _priorYearEnd);

        _balances = new Dictionary<string, Balances>
        {
            { "YTD", ytdBalances },
            { _priorYear, priorBalances }
        };
    }

    protected string AccountName(object data)
    {
        return ((Account)data).Name;
    }

    protected TreeTableModel CreateTreeTableModel(Account.AccountType accountType)
    {
        var columns = new List<string> { "YTD", _priorYear };
        var tableTitle = $"{accountType.ToString()} Totals for Year to Date and {_priorYear}"; 
        TreeTableModel model = new TreeTableModel(tableTitle, "Account", columns);

        if (_accounts is not object) return model;

        var rootAccount = GetRootAccount(accountType);
        if (rootAccount is object)
        {
            foreach (var account in rootAccount.Children.OrderBy(c => c.Name))
            {
                AddAccountsToModel(account, model);
            }

            model.Footer = $"Total {rootAccount.Name}";
            model.FooterValues.Add(rootAccount.Commodity.DisplayAmount(_balances!["YTD"][rootAccount.Id]));
            model.FooterValues.Add(rootAccount.Commodity.DisplayAmount(_balances![_priorYear][rootAccount.Id]));
        }

        return model;
    }

    protected void AddAccountsToModel(Account account, TreeTableModel model, TreeTableNodeModel? parent = null)
    {
        var balances = new List<string> {
            account.Commodity.DisplayAmount(_balances!["YTD"][account.Id]),
            account.Commodity.DisplayAmount(_balances![_priorYear][account.Id])
        };
        var node = model.CreateNode(account.Name, balances, parent);

        foreach (var childAccount in account.Children.OrderBy(a => a.Name))
        {
            AddAccountsToModel(childAccount, model, node);
        }
    }

    private Account? GetRootAccount(Account.AccountType accountType)
    {
        if (_accounts is not object) return null;

        return _accounts.SingleOrDefault(a => a.Parent == null && a.Type == accountType);
    }
}
