%h1 HSA Information
= styled_flash
%form{ method: "POST" }
  %input{ type: "hidden", name: "_token", value: PiggyBank::App.token }
  %fieldset
    %legend General Information
    %label
      Coverage
      %select{ name: "covered_by_hdhp" }
        - PiggyBank::Tax::Data::HSA::COVERAGE_TYPES.each do |k, v|
          %option{ value: k, selected: k.to_s == @hsa.covered_by_hdhp }= v
    %label
      Expenses paid by HSA
      %input{ name: "expenses_paid_by_hsa", type: "number", min: 0, step: 0.01, value: @hsa.expenses_paid_by_hsa }
  %fieldset
    %legend 5498-SA
    %label
      Contributions
      %input{ name: "f5968sa_contributions", type: "number", min: 0, step: 0.01, value: @hsa.f5968sa_contributions }
  %fieldset
    %legend 1099-SA
    %label
      Distributions
      %input{ name: "f1099sa_distributions", type: "number", min: 0, step: 0.01, value: @hsa.f1099sa_distributions }
  .buttons
    %button.btn.primary{ formaction: "/tax/data/hsa" }
      %span.icon.icon-solid-check
      %span.text Save
    %a.btn.secondary{ href: '/tax/data' }
      %span.icon.icon-close
      %span.text Cancel