@model BalancesViewModel
@{
    ViewData["Title"] = "Income/Expense Report";
}

<h1>Income/Expense Report</h1>
<h2>For the period of @Model.Balances.StartDate.ToShortDateString() to @Model.Balances.EndDate.ToShortDateString()</h2>
@{
    <ul class="tree">
        <partial name="_ExpenseListPartial.cshtml" model="@Model" />
    </ul>
}

