%h1 OFX Configurations
= styled_flash
%div
  %a{ href: '/ofx' } New OFX Configuration
%table
  %thead
    %tr
      %th Description
      %th Value
      %th
  %tbody
    - @ofxs.each do |ofx|
      %tr
        %td
          -# %a{href: "/ofx/#{ofx.ofx_id}" }= ofx.description
        %td 
          -# = ofx.value
        %td
          %a.btn.primary{ href: "/ofx/#{ofx.ofx_id}?edit" }
            %span.icon.icon-pencil
            %span.sr-only Edit 
          %a.btn.danger{ href: "/ofx/#{ofx.ofx_id}?delete" }
            %span.icon.icon-trash
            %span.sr-only Trash 