%h1 Tax Forms Available
= styled_flash
%ul
  %li
    US Federal
    %ul
      %li
        %a{ href: "/tax/form/us/1040" } US 1040
  %li
    Minnesota
    %ul
      %li
        %a{ href: "/tax/form/mn/m1" } M1